<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link th:href="@{/vendor/bootstrap/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/font-awesome/css/all.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body class="bg-primary">
    <div class="limiter bg-light shadow">
    </div>
</body>
<script th:src="@{/vendor/jquery/jquery-3.4.1.js}"></script>
<script th:src="@{/vendor/bootstrap/bootstrap.js}"></script>
<script th:src="@{/vendor/chartjs/chart.js}"></script>
<script th:src="@{/vendor/font-awesome/js/fontawesome.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>